/* styles.css */

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0px;
}

.site-header {
    background-color: rgb(226, 18, 11);
    padding: 0px;
    color: #fff;
}

.person {
    width: 20%; /* Ajusta a largura para ocupar 100% do contêiner pai */
    max-width: 120px; /* Define uma largura máxima para evitar que o conteúdo se estenda demais */
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    display: inline-block;
}
.person img {
    width: 50%;
    max-width: 50%; /* Evita que a imagem ultrapasse seu contêiner pai */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 50%;
}

.icons {
    margin-top: 10px;
}

.like-icon,
.share-icon,
.heart-icon {
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
}
@media (max-width: 768px) {
    /* Estilos para telas menores que 768 pixels de largura */
    .person {
        font-size: 14px;
    }
}